body{
    text-align: center;
    
}
h4{
    text-transform: uppercase;
    color: rgb(31, 29, 29);
}
p{
    color: rgb(82, 79, 79);
    font-size: 0.3;
}
.padding{
    margin: 10% 15%;

}
img{
    margin-bottom: 15%;
}
