@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i|Karla:400,700');

* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

body {
    margin: 0;
    font-family: 'Asap', sans-serif;
  /* background-image: url(../css/SEFolio-check.png);
    background-position: top;
    opacity: 0.5;*/
}


.header {
    background-image: url(../images/Home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 640px;
    display: flex;
    

}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
   

}

.header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
   
}

.header__logo {
    width: 100%;
    padding-top: 49px;
    padding-left: 82px;
    font-family: 'Karla';
    font-size: 28px;
    line-height: 1.9px;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
   
}


/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute;  /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s; /* 0.5 second transition effect to slide in the sidepanel */
    position: absolute;
    font-family: 'Asap', sans-serif;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-size: 18px;
    color: #c4c4c4;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/*_______________________________________*/

.header__logo a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.header__logo span {
    color: #2ec06c;
    font-weight: 700;
}

.header__logo a:hover {
    opacity: 0.5;
}

.header__hello {
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
    line-height: 45px;
    margin-left: 81px;
    padding-top: 36px;
}

.header__hello b {
    font-weight: 700;
    letter-spacing: 0.04em;
}

/*________________*/
.service {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 220px;
    padding-left: 79px;
    padding-right: 103px;
    margin-top: 20px;
}

.service__block {
    width: 24%;
    height: 220px;
    margin-left: 4px;
    transition: 0.8s;

}

.service p {
    color: white;
    font-family: 'Karla';
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.service__header {

    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}



.service__header p {
    padding-left: 8px;
    padding-top: 2px;
}

.service__img--cover {
    display: flex;
    border: 1px solid white;
    border-radius: 3px;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    margin: 17px auto;
}

.service__header img {
    text-align: center;
}

.service__block:hover {
    background-color: #27ae60;
    margin-top: -40px;
    padding-top: 12px;
}


.service__footer {
    display: flex;
    height: 26%;
    background-color: #0d3b20;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: none;
    text-decoration: none;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 19px;
    letter-spacing: 0.04em;

}

.service__block:hover .service__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

}

/*____________2*/

.about {
    background-image: url(../images/about__bg.png);
    background-repeat: no-repeat;
    position: relative;

}

.about .row {
    margin: -2px 68px;
}

.col-about {
    padding-top: 64px;
    padding-left: 126px;
    width: 50%;
    margin-right: -20px;
}

.about .container {
    height: 584px;
}


.about__text {
    margin-bottom: 47px;
    text-align: justify;
    line-height: 1.2;
}

.about__text h3 {
    color: #191919;
    font-family: 'Asap';
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
}

.about__text b {
    font-weight: 700;
}

.about__text p {
    color: #404040;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

.about__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 17px;

}


.about__nav a {
    text-decoration: none;
    color: #2ec06c;
    font-family: 'Asap';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    align-items: center;
    width: 46%;
    margin-left: -16px;
}

.about__buton1,
.about__buton2 {
    display: flex;
    border: 1px solid #2ec06c;
    border-radius: 5px;
    height: 60px;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.about__nav a :hover {
    background-color: #2ec06c;
    border-radius: 25px;
    color: white;
    transition: 1s;
}

.about_img {
    display: flex;
    position: absolute;
}

/*______________3*/
.services {
    background-position: top;
    padding-top: 67px;
    margin-bottom: 55px;
}


.services h2 {
    font-family: 'Asap';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: -21px;
    margin-left: -15px;
}

.services b {
    font-weight: 700;
}

.services__showcase {
    text-align: center;
    color: #202020;
    font-family: 'Asap';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 57px;
    margin-top: 21px;
}

.services__header {
    width: 100%;
    justify-content: center;
}

.services__inf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    width: 980px;
}

.services__block {
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    margin-top: 7px;
    margin-left: 36px;
    height: 150px;

}

.services__block img {
    width: 32px;
    height: 32px;
    margin-right: 37px;
}

.services__web {
    color: #202020;
    font-family: Asap;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.services__lorem {
    width: 100%;
    padding-left: 68px;
    margin-top: -11px;
}

.col-img {
    margin-left: 15px;
}

/*____________________4*/

.clients {
    display: flex;
    background-image: url(../images/backgraund.png);
    background-repeat: no-repeat;
    position: relative;
    height: 350px;
    color: white;
    font-family: 'Asap';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}

.clients p {
    padding-top: 59px;
    text-align: center;
}

.clients__scroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    margin-top: 69px;
    margin-left: 133px;
}

.clients__scroll a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.clients__scroll img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.clients__scroll img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*____________4*/

.work {
    height: 1060px;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: -23px;
}

.work h3 {
    font-family: 'Asap';
    font-size: 30px;
    line-height: 40px;
    color: #202020;
    font-weight: 400;
    text-align: center;
    padding-top: 63px;
    margin-bottom: 20px;
}

.work b {
    color: #2ec06c;
    font-weight: 700;
}

.work p {
    color: #666;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 32px;
    padding-left: 8px;
}

.work__projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 960px;
    margin-left: 75px;

}

.work__project {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    min-width: 300px;
    min-height: 320px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 20px;
}


.work__pic {
    max-width: 300px;
    max-height: 250px;
    position: relative;
}

.work__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #202020;
    font-family: 'Asap';
    font-size: 20px;
    font-weight: 400;
}

.work__button {
    padding-top: 15px;
    text-align: center;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 40%;
    left: 25%;
    display: none;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}


.work__hidden {
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    background: #44c078;
    opacity: 0.85;

}

.work__project:hover .work__hidden {
    bottom: 0;
    width: 100%;
    transition: 0.5s;
}

.work__project:hover .work__button {
    display: block;
    transition: 1s;

}

.work__button:hover {
    background-color: #328153;
    opacity: 0.5;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*___________5*/

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    background-image: url(../images/Feedback.png);
    background-position: top;
    background-repeat: no-repeat;

}

.slide__inf {
    padding-top: 42px;
    padding-bottom: 11px;
}

.slide__text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Karla';
    text-align: center;
}

.slide__text b {
    font-family: 'Asap';
}

.slide__shauna {
    color: white;
    font-size: 16px;
    font-style: italic;
    font-family: 'Asap';
    text-align: center;
}

.slide__shauna b {
    color: #2ec06c;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Asap';
}

.slide__scroll {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}


/*_______6*/

.contacts {
    margin-bottom: 80px;
    margin-top: 40px;
}

.container {

    flex-wrap: wrap;
    margin: 0 auto;
    width: 960px;
}

.contacts__main {
    display: flex;
    margin-left: 33px;
    margin-top: -3px;
}

.main-inf {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

h1 {
    font-family: 'Asap';
    font-size: 30px;
    line-height: 40px;
    color: #202020;
    font-weight: 400;
    text-align: center;
    padding-left: 11px;
}

h1 span {
    color: #2ec06c;
    font-weight: 700;

}

.contacts__headline1 {
    padding-top: 32px;

}

.contacts__headline2 {
    color: rgb(151, 144, 144);
    font-family: 'Karla', sans-serif;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin-top: -21px;

}


.contacts__social {
    display: flex;
    flex-wrap: wrap;
    height: 301px;
    width: 300px;
    margin-top: 31px;
    margin-left: 37px;
}


.contacts__face {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    cursor: pointer;
    font-size: 53px;
    padding-top: 39px;
    padding-left: 56px;
}

.contacts__face a {
    color: #3b5998;
}

.contacts__face:hover {
    background-color: #3b5998;
    border: none;
    border-radius: 5px;
}

.contacts__face:hover a {
    color: #fff;
}

.contacts__twit {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #00aced;
    border-radius: 5px;
    cursor: pointer;
    font-size: 53px;
    padding-top: 39px;
    padding-left: 43px;
    margin-left: -5px;
}

.contacts__twit a {
    color: #00aced;
}

.contacts__twit:hover {
    background-color: #00aced;
    border: none;
    border-radius: 5px;
}

.contacts__twit:hover a {
    color: #fff;
}

.contacts__insta {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #517fa4;
    border-radius: 5px;
    cursor: pointer;
    font-size: 62px;
    padding-left: 43px;
    PADDING-TOP: 36px;
    margin-top: 17px;
    margin-left: -2px;
}

.contacts__insta a {
    color: #517fa4;
}

.contacts__insta:hover {
    background-color: #517fa4;
    border: none;
    border-radius: 5px;
}

.contacts__insta:hover a {
    color: #fff;
}

.contacts__dribbble {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #ff0084;
    border-radius: 5px;
    cursor: pointer;
    font-size: 56px;
    padding-top: 39px;
    padding-left: 41px;
    margin-top: 17px;
    margin-left: -5px;
}

.contacts__dribbble a {
    color: #ff0084;
}

.contacts__dribbble:hover {
    background-color: #ff0084;
    border: none;
    border-radius: 5px;
}

.contacts__dribbble:hover a {
    color: #fff;
}

.contacts__row3 {
    margin-left: 20px;
}

.contacts__form {
    margin-left: 0px;
    padding-top: 31px;
}

input {
    width: 85px;
    height: 13px;
    color: #666;
    font-family: 'Asap';
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 20px;
}

textarea {
    width: 85px;
    height: 13px;
    color: #666;
    font-family: 'Asap';
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 16px;
}

.contacts__row1 {
    display: flex;
}

.contacts__row1 input {
    width: 300px;
    height: 50px;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-bottom: 20px;
}



.contacts__row2 {
    display: flex;

}

.contacts__row2 input {
    width: 300px;
    height: 50px;
    border: 1px solid #bababa;
    border-radius: 5px;

    margin-bottom: 20px;
    margin-top: -1px;
}
.contacts__text{
    margin-left: -20px;
}


.contacts__row3 {
    display: flex;
}

.contacts__row3 textarea {
    width: 100%;
    height: 161px;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-bottom: 14px;
}


.contacts__button {
    display: block;
    width: 40px;
    height: 161px;
    background-color: #2ec06c;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    margin-left: -40px;
   
}

.contacts__button i {
    padding-top: 67px;
    padding-inline-start: 8px;
    color: white;

}

.contacts__button :hover {
    background-color: #1b5533;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

.fa-paper-plane {
    display: block;
    height: 161px;
    width: 40px;
}



.contacts__name :hover {
    border: 1px solid #2ec06c;
}

.contacts__name :focus {
    border: 1px solid #2ec06c;
}

.contacts__lastname {
    margin-left: -30px;
    padding-left: 8px;
}

.contacts__lastname :hover {
    border: 1px solid #2ec06c;
}



.contacts__email :hover {
    border: 1px solid #2ec06c;
}

.contacts__text :hover {
    border: 1px solid #2ec06c;
}

.contacts__area :hover {
    border: 1px solid #2ec06c;
}


/*______6*/

.footer {
    height: 50px;
    background-color: #eee;
    font-family: 'Asap';
    font-size: 16px;
    color: #2f2f2f;
    font-style: italic;
    padding-top: 3px;
    padding-left: 148px;
    margin-bottom: 10px;
}

.footer b {
    color: #2ec06c;
    font-weight: 700;
    font-style: italic;
}
.footer a{
    text-decoration: none;
}