.top {
    background: blue;
    color: white;
    text-align: right;
    padding: 2% 32% 2%;
}

.tab1 {
    text-align: right;
    padding: 5% 2% 5% 20%;

}

.upper {
    text-transform: uppercase;
}

.tab3 {
    background: blue;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
}