* {
    box-sizing: border-box;
}

body {
    width: 1280px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 943px;
    height: 809px;
    background-color: FFFFFF;
    margin: 0 auto;

}

.row>[class*="width-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.width {
    width: 25%;
}

[class*="col"] {
    position: relative;
}

p {
    text-align: justify;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 34px;
    margin-bottom: 109px;

}

.fresh {

    text-align: justify;
}

.top {
    padding-top: 134px;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
    Font-Style: Bold;
    font-size: 12px;
    padding-bottom: 12px;
    letter-spacing: 4.8px;
    color: #898F99;
}

.headline {

    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
    Font-Style: Regular;
    Font-Size: 30px;
    color: #0EC8CB;
    margin-bottom: 0px;
}

.headline h1 {
    margin-top: -7px;
}

.information {
    padding-left: 213px;
    text-align: justify;
    text-transform: uppercase;
    Font-Family: PT Sans;
    Font-Style: Regular;
    Line-Height: 30px;
    color: #999999;
}

.table {
    width: 925px;
    height: 423px;
    margin-top: 80px;
    background-color: #ECECEC;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    Font-Family: Montserrat;
    Font-Style: Regular;
    Font-Size: 21px;
    color: #1B1B1B;
    padding-top: 54px;
}

.width-3 p {
    Font-Family: PT Sans;
    Font-Style: Regular;
    Font-Size: 14px;
    Line-Height: 22px;
    color: #777777;
}

.anchor {
    background-color: #ECECEC;
    height: 422px;
}

.diamond {
    background-color: #ECECEC;
    height: 422px;
}

.graphics {
    background-color: #ECECEC;
    height: 422px;
}

.illustrations {
    background-color: #ECECEC;
    height: 422px;
}

.graphics img {
    padding-top: 65px;
}

.illustrations img {
    padding-top: 61px;
}

.diamond img {
    padding-top: 45px;
    padding-bottom: -16px;
}

.anchor img {
    padding-top: 56px;
}

img {
    text-align: center;
    color: #1B1B1B;
    padding-top: 56px;
    padding-left: 76px;
}

.graphics p {
    margin-top: 40px;
}

.illustrations p {
    margin-top: 40px;
}

.width-3 {
    width: 25%;
}

.width-3 :hover {
    background-color: #0EC8CB;
    color: white;
}

.table .diamond p {
    margin-top: 21px;
}

span {
    text-align: center;
}