* {
    box-sizing: border-box;
}

body {
   
    font-family: 'Montserrat', sans-serif;
    
}

.container {
    width: 943px;
    height: 809px;
    background-color: #FFFFFF;
    margin: 0 auto;
   
}

.row>[class*="width-"] {
    float: left;
  
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.width {
    width: 25%;
}

[class*="col"] {
    position: relative;
}

p {
    text-align: justify;
    margin-left: 30px;
    margin-right: 28px;
    margin-top: 34px;
    margin-bottom: 109px;

}

.fresh {

    text-align: justify;
}

.top {
    padding-top: 117px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    Font-Style: Bold;
    font-size: 12px;
    padding-bottom: 1px;
    letter-spacing: 4.8px;
    color: #898F99;
    font-weight: 700;
    line-height: 30px;
    

}

.headline {

    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    Font-Size: 25px;
    color: #0EC8CB;
    margin-bottom: -10px;
    letter-spacing: 4.5px;
    word-spacing: 2px;
}

.headline h1 {
    margin-top: -7px;
}

.information {
    font-family: 'PT Sans', sans-serif;
    padding-left: 213px;
    text-align: justify;
    text-transform: uppercase;
    Line-Height: 30px;
    color: #999999;
    letter-spacing: 0.1px;
    font-size: 16px;
}

.table {
    width: 925px;
    height: 423px;
    margin-top: 99px;
 
}

h2 {
    text-align: center;
    text-transform: uppercase;
    Font-Family: 'Montserrat';
    Font-Size: 21px;
    color: #1B1B1B;
    padding-top: 37px;
    margin-bottom: -16px;
}

.width-3 p {
    Font-Family: 'PT Sans';
    Font-Size: 14px;
    Line-Height: 22px;
    color: #777777;
}

.anchor {
    background-color: #ECECEC;
    height: 422px;
}

.diamond {
    background-color: #ECECEC;
    height: 422px;
}

.graphics {
    background-color: #ECECEC;
    height: 422px;
}

.illustrations {
    background-color: #ECECEC;
    height: 422px;
}

.graphics p {
    margin-top: 40px;
}

.illustrations p {
    margin-top: 40px;
}

.width-3 {
    width: 25%;
    background-color:#f7f7f7;
    border: 1px solid lightgrey;
}

.width-3:hover {
    background-color: #0EC8CB;
    color: white;
}
.width-3:hover h2,.width-3:hover p, .width-3:hover i {
    color: white;
}
.width-3 p :hover{
    color:white;
}
.col:hover{
    background-color: #0EC8CB;
}

.table .diamond p {
    margin-top: 21px;
}

span {
    text-align: center;
}
i {
    font-size: 55px;
}
.anchor-h, .diamond-h, .graphics-h, .illustrations-h{
    padding-top: 60px;
    padding-left: 77px;
}
.diamond-h h2{
padding-top: 30px;
}
