.container {
    width: 1170px;
    margin: 0 auto;
}
body{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
h3{
    text-transform: uppercase;
    padding-top: 80px;
}
hr{
    width: 3%;
    height: 2px;
    background-color: white;
    
}
.top{
    color: azure;
    text-align: center;
   
}

.inf{
    text-align: center;
    padding: 5% 12%;
}
.inf p{
    padding-left: 200px;
    padding-right: 200px; 
}
.inf h3{
    padding-top: 150px;
}
h3{
    text-transform: uppercase;
}
input{
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(141, 139, 139);
}
textarea {
    resize: none;
    height: 30px;
}
.top .topinf{
    padding-left: 335px;
    padding-right: 335px;
}
.images img{
margin-right: 35px;
}
