* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
   /* background-image: url('./DBpng.png');*/
    max-width: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

}

.header .container {}

.header {
    background-image: url(../img/Header_background2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 803px;
    margin-bottom: 222px;
    position: relative;
}

.header__title {
    animation-duration: 4s;
    animation-delay: 0.8s;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
}

.logo a {
    width: 458px;
    height: 139px;
    color: #fdfefd;
    font-family: Raleway;
    font-size: 150px;
    font-weight: 200;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.header__logo {
    position: absolute;
    top: 323px;
    left: 1067px;
    letter-spacing: 0.9em;
}

.header__nav {
    height: 14.8%;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    opacity: 0.8;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

/* The sidepanel links */
.header__nav a {
    float: left;
    text-align: right;
    padding: 8px 39px 44px 5px;
    text-decoration: none;
    display: block;
    justify-content: flex-end;
    align-items: center;
    transition: 0.3s;
    color: #8c8d8c;
    font-family: "Book Antiqua";
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
}

/* When you mouse over the navigation links, change their color */
.header__nav a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

/* Position and style the close button (top right corner) */
.header__nav .closebtn {
    position: absolute;
    top: 0;
    top: 39px;
    right: 54px;
    font-size: 72px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 43px;
    cursor: pointer;
    background-color: inherit;
    color: white;
    border: none;
    position: absolute;
    top: 32px;
    right: 73px;
}

.openbtn :active {
    display: none;
}

.header__menunav {
    display: flex;
    justify-content: flex-end;
}

.header__button {
    width: 9%;
}

.header__social {
    position: absolute;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 173px;
    left: -23px;
    letter-spacing: 0.12em;
}


.header__social a {
    display: block;
    text-decoration: none;
    padding-right: 50px;
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: #8c8d8c;
    font-family: 'Book Antiqua';
    font-size: 20px;
    font-weight: 400;
    transform: rotate(-90deg);


}

.header__social a:hover {
    text-decoration: underline;
    color: #f1f1f1;
}

.header__img {
    max-width: 287px;
    max-height: 287px;
    background-color: #cdcdcd;
}

.header__list {
    padding-right: 174px;

}

/*slide*/
.slider {
    position: absolute;
    overflow: hidden;
    max-width: 1171px;
    max-height: 285px;
    background-color: #fdfefd;
    border: 1px solid white;
    top: 638px;
    right: 0;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {

    max-width: 287px;
    max-height: 287px;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 100%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}

/* about___________________________________*/
.about {
    position: relative;
    display: flex;
    margin-bottom: 62px;
}

.about__left {
    position: absolute;
    right: 20px;
    background-color: white;
}

.about__title {
    padding-left: 430px;
    margin-top: -6px;
    letter-spacing: 0.09em;
}

.about__title h3 {
    color: #8c8d8c;
    font-family: "Book Antiqua";
    font-size: 30px;
    font-style: italic;
    margin-top: 0;
    margin-left: 12px;
}

.about__title h2 {
    color: black;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: -9px;
    margin-top: -4px;
    letter-spacing: 0.1em;
}

.about__left {
    font-family: "Book Antiqua";
    line-height: 32px;
    color: #000100;
    font-size: 20px;
    font-weight: 400;
}

.about__left span {
    color: #010e19;
    font-size: 26px;
    font-style: italic;
}

.about__lorem {
    padding-top: 50px;
    padding-left: 40px;

}

/*product__________________________________________*/

.product {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 106px;
}

.product__title {
    text-align: center;
    margin-bottom: 100px;
}

.product__title h3 {
    color: #8c8d8c;
    font-family: "Book Antiqua";
    font-size: 30px;
    font-style: italic;
    line-height: 32px;
    letter-spacing: 0.04em;
}

.product__title h2 {
    color: black;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    margin-left: 5px;
    margin-bottom: -3px;
}

.product__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: relative;

}

.product__price {
    color: #fefefe;
    font-family: "Book Antiqua";
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
}

.product__name {
    color: #fefefe;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
}

.product__category {
    color: #fefefe;
    font-family: "Book Antiqua";
    font-size: 25px;
    font-style: italic;
    line-height: 32px;
    text-decoration: underline;
}

.product__img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    cursor: pointer;
}

.product__img .image {

    width: 100%;
    height: 100%;
}

.product__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    /*padding-top: 30px;
    padding-left: 20px;*/
    display: block;
    justify-content: center;

}

.product__img:hover .product__overlay {
    opacity: 0.5;
}

.product__text {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    /*-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
    text-align: center;
    outline: 1px solid white;
    outline-offset: -15px;
    border-radius: -10%;
    align-items: center;
    padding-top: 50%;

}

/*partners______________________________*/

.partners {
    margin-bottom: 88px;
}

.partners__title {
    text-align: center;
    margin-bottom: 100px;
}

.partners__title h3 {
    color: #8c8d8c;
    font-family: "Book Antiqua";
    font-size: 30px;
    font-style: italic;
    line-height: 32px;
    letter-spacing: 0.03em;
    margin-left: 19px;
}

.partners__title h2 {
    color: black;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 53px;
}

.partners__title p {
    color: black;
    font-family: "Book Antiqua";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
    text-align: center;
    letter-spacing: 0.14em;
}

.partners__scroll {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    width: 1163px;
    height: 102px;
}

.partners__scroll a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.partners__scroll img {
    transition: all 1s ease-out;
}

.partners__scroll img:hover {
    transform: scale(1.1);
}

/*call_______________*/
.call {
    background-image: url(../img/call.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* min-width: 1927px; */
    min-height: 796px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    text-align: center;
}

.call h3 {
    color: white;
    font-family: "Book Antiqua";
    font-size: 50px;
    font-style: italic;
    line-height: 32px;
    margin-top: -3px;
    letter-spacing: 0.06em;
    text-align: center;
}

.call h2 {
    color: white;
    font-family: 'Raleway';
    font-size: 60px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.call p {
    color: white;
    font-family: "Book Antiqua";
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;

    letter-spacing: 0.12em;
    text-align: center;
    margin-bottom: 62px;
}

.call__btn {
    border: 2px solid white;
    padding: 30px 54px;
    font-size: 16px;
    cursor: pointer;
    cursor: pointer;
    color: white;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    background: none;
    letter-spacing: 0.09em;
    margin-top: -5px;
}

.call__btn:hover {
    text-decoration: underline;
}

/*testimonials____________________________*/
.testimonials {
    display: flex;
    position: relative;
    margin-bottom: 189px;

}

.testimonials__slide {
    display: flex;
    flex-direction: row;
    position: relative;
}

.testimonials h3 {
    color: #8c8d8c;
    font-family: "Book Antiqua";
    font-size: 30px;
    font-style: italic;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.09em;
}

.testimonials h2 {
    color: #010101;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
    letter-spacing: 0.09em;
}

.testimonials__left {
    position: absolute;

    background-color: white;
    top: 80px;
}

.testimonials__right {
    position: absolute;

    background-color: white;
    top: 80px;
}


span .quotes {
    font-family: "Book Antiqua";
    font-size: 50px;
}

span .amanda {
    font-family: 'Raleway';
    font-weight: 500;
}

span .years {
    font-family: "Book Antiqua";
    font-weight: 400;
}

.testimonials p {
    color: black;
    font-family: "Book Antiqua";
    font-weight: 400;
    line-height: 32px;
    font-size: 20px;
}

/*insta__________________________________*/

.insta {}

.insta__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 540px;
    position: relative;
}


.insta__img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    cursor: pointer;
}


.insta__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
}

.insta__item ::before {
    content: '';
    display: block;
}

.insta__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    /*padding-top: 30px;
    padding-left: 20px;*/
    display: block;
    justify-content: center;

}

.insta__img:hover .insta__overlay {
    opacity: 0.5;
}

.insta__text {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    /*-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
    text-align: center;
    outline: 1px solid white;
    outline-offset: -15px;
    border-radius: -10%;
    align-items: center;
    padding-top: 50%;

}


.insta__text p {
    color: white;
    font-family: "Book Antiqua";
    font-size: 30px;
    font-style: italic;
    line-height: 32px;
}

/*form_________________________*/

.form {
    margin-bottom: -26px;
    background-image: url(../img/form_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1029px;
    color: white;
}

.form h3 {
    color: #8c8d8c;
    font-family: "Book Antiqua";
    font-size: 30px;
    font-style: italic;
    line-height: 32px;
    text-align: center;
    padding-top: 65px;
    letter-spacing: 0.08em;

}

.form h2 {
    color: white;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.09em;
    margin-bottom: 99px;
}



.form_input {
    color: white;
    font-family: "Book Antiqua";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    display: block;


}

.form__row1 {
    display: flex;
}

.form__row1 input {
    width: 469px;
    height: 56px;
    opacity: 0.2;
    margin-bottom: 40px;
    background-color: none;
}

.form__row2 {
    display: flex;

}

.form__row2 input {
    margin-bottom: 40px;
    width: 469px;
    height: 56px;
    opacity: 0.2;
    background-color: none;
}

.form__style {
    margin-bottom: 40px;
    height: 56px;
    background-color: none;
    opacity: 0.2;
    padding-left: 34px;
    font-family: "Book Antiqua";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

/*.form__num{
    width: 170px;
    height: 56px;
    opacity: 0.2;
    margin-bottom: 40px;
    background-color: none; 
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 20px;
    color: white;
    padding-left: 20px;
}*/
.form__total-box {
    display: block;
    height: 56px;
    width: 270px;
    opacity: 0.2;
    background-color: #cdcdcd;
    margin-left: 44px;

}

.form__total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    font-family: "Book Antiqua";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 105px;
}

.form__line3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap
}

.form__line4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap
}

.form__s {
    width: 370px;
}

.form__package {
    margin-left: -127px;
}

.form__country {
    width: 270px;

}

.form__city {
    width: 270px;
    margin-left: -64px;
}

.form__street {
    width: 370px;
    margin-left: -128px;
}

.form__n {
    width: 170px;
    text-align: center;
    margin-left: 36px;
    padding-left: 62px;
}

.form__field {
    padding-left: 91px;
}

.form p {
    margin-top: 12px;
    letter-spacing: 0.03em;
}

.form__btn {
    border: 2px solid white;
    padding: 30px 91px;
    font-size: 16px;
    cursor: pointer;
    cursor: pointer;
    color: white;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    background: none;
    letter-spacing: 0.09em;
    margin-top: 65px;
    margin-left: 348px;
}

.call__btn:hover {
    text-decoration: underline;
}

input::-moz-placeholder {
    color: white;
}

input::-webkit-input-placeholder {
    color: white;
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}


/*footer_________________*/
.footer {
    background-image: url(../img/Footer_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 357px;
    position: relative;
}

.footer__logo a {
    letter-spacing: 0.1em;
    position: absolute;
    top: 111px;
    left: 821px;
    text-align: center;
    color: #fdfefd;
    font-family: 'Raleway';
    font-size: 85px;
    font-weight: 200;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer h3 {
    color: #8c8d8c;
    font-family: "Book Antiqua";
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-top: 203px;
    letter-spacing: 0.09em;
}

.footer .span_t {
    line-height: 32px;
}

.footer .span_p {
    line-height: 22px;
}