body{
    background: black;
    color: rgb(212, 193, 193);
   
}
h2{
text-transform: uppercase;
text-align: center;
}
p{
    text-align: center;
}

.image11{
    padding: 10% 5% 10% 40%;
}
.border img {
  padding: 30px;
   border: 200px;
   border-top-right-radius: 0%;
   border-top-left-radius: 30%;
   border-bottom-left-radius: 0%;
   border-bottom-right-radius: 30%;
   margin-top: 150px;

}
.color{
    background-color: orange;
    background-size: 20px;
}
img1 {
    padding: 100px;
}