* {
    box-sizing: border-box;

}

body {
    font-family: Asap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    margin: 0 auto;

}



.main-inf {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

h1 {
    font-family: Asap;
    font-size: 30px;
    line-height: 40px;
    color: #202020;
    font-weight: 400;
    padding-left: 340px;
    padding-top: 40px;
}

h1 span {
    color: #2ec06c;
    font-weight: 700;
}

.headline2 {
    color: #666;
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 270px;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    height: 301px;
}

.face {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.twit {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    cursor: pointer;
}

.insta {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.dribble {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    cursor: pointer;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 301px;
}

input,
textarea {
    width: 85px;
    height: 13px;
    color: #666;
    font-family: Asap;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 20px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.row1 input {
    width: 290px;
    height: 50px;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.row2 {
    display: flex;
    flex-wrap: wrap;
}

.row2 input {
    width: 290px;
    height: 50px;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -9px;
}

.row3 {
    display: flex;
    flex-wrap: wrap;
}

.row3 textarea {
    width: 555px;
    height: 161px;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 14px;
}

.col .face :hover {
    background-color: aqua;
    cursor: pointer;
}

.button {
    display: block;
    width: 40px;
    height: 161px;
    background-color: #e2d8d8;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: 3s;
}

.button i {
    padding-top: 67px;
    padding-inline-start: 8px;

}

.button :hover {
    background-color: #2ec06c;
    color: white;
}

.fa-paper-plane {
    display: block;
    height: 161px;
    width: 40px;
}

.col {
    font-size: 60px;
    padding-left: 50px;
    padding-top: 37px;
    background: white;
    color: #00aced;
}

.col :hover {
    background-color: #ff0084;
}

.name :hover {
    border: 1px solid #2ec06c;
}

.name :focus {
    border: 1px solid #2ec06c;
}

.lastname :hover {
    border: 1px solid #2ec06c;
}

.email :hover {
    border: 1px solid #2ec06c;
}

.text :hover {
    border: 1px solid #2ec06c;
}

.area :hover {
    border: 1px solid #2ec06c;
}